 <zippy></zippy>

 <app-test 
    [totalLikes]="post.totalLikes" 
    [isLike]="post.isLike"
    (isChanged)="getChanged($event)">
 </app-test>


  <h2>ngSwitch change</h2>
  <ul class="nav nav-pills" >
    <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'"> Map view</a></li>
    <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List view</a></li>

  </ul>
  <div [ngSwitch]="viewMode"> 
     <template [ngSwitchCase]="'map'">Show map info </template>
     <template [ngSwitchCase]="'list'">Show List info </template>
  </div>

  <h2>*ngFor</h2>
  <ul>
     <li *ngFor="let bear of Bear ,let i=index" >{{i+1}}-{{bear}}</li>
  </ul>

    <h2>Pipe</h2>
     {{Browinee.name}}
   <br/>
     {{Browinee.weight|number:'4.1-3'}}
   <br/>
     {{Browinee.money|currency:'CNT':true}}
   <br/>
     {{Browinee.birthday|date:format}}
     <button class="btn btn-primary" (click)="toggleFormat()">Toggle Format</button>
   <br/>
     {{Browinee|json}}



   <h2>Power Boost Calculator</h2>
   <div>Normal power: <input type="text" [(ngModel)]="power"/></div>
   <div>Boost factor: <input type="text"  [(ngModel)]="factor"/></div>
   <p>
      Super Hero Power: {{power | exponentialStrength: factor}}
   </p>
   <p>{{2|exponentialStrength:10}}</p>

  






